.heading-1,
.heading-2,
.heading-3,
.bold {
    font-weight: 600;
}

.heading-1 {
    font-size: 3rem;
    text-transform: uppercase;
}

.heading-2 {
    font-size: 2rem;
    text-transform: uppercase;
}

.heading-3 {
    font-size: 1.8rem;
}
